/* Scores.css */

/* Add the following styles for glassmorphism effect and scrolling table */
.scontainer {
    margin: 20px auto;
    max-width: 1200px;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(13px);
    opacity: 0.9;
    height: 600px;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.alignment h1{
    text-align: center;
    color: #fff;
}

.title-container {
    width: 1200px;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.2);
    padding: 10px;
    border-radius: 10px 10px 0 0;
}

.homePage_typography {
    text-align: center;
    color: #fff;
    font-weight: bold;
    margin-bottom: 20px;
    
}

.score-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 30px;
}

.score-table th,
.score-table td {
    padding: 8px 16px;
    text-align: left;
    color: #fff;
}

